# Copy this to .env to run application locally

NODE_ENV=development
ENVIRONMENT_NAME=dev
ENVIRONMENT_NAME=DEV

PORT=3000

REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

# Credentials for allowing user access
AUTH_CODE_CLIENT_ID=COPY_FROM_DEV_ENV
AUTH_CODE_CLIENT_SECRET=COPY_FROM_DEV_ENV
# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=COPY_FROM_DEV_ENV
CLIENT_CREDS_CLIENT_SECRET=COPY_FROM_DEV_ENV

# Copy service urls from dev helm values file, including HMPPS_AUTH_URL, TOKEN_VERIFICATION_API_URL etc
