$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "node_modules/govuk-frontend/dist/govuk/base";
@import "node_modules/govuk-frontend/dist/govuk/core";
@import "node_modules/govuk-frontend/dist/govuk/objects";
@import "node_modules/govuk-frontend/dist/govuk/components";
@import "node_modules/govuk-frontend/dist/govuk/utilities";
@import "node_modules/govuk-frontend/dist/govuk/overrides";
@import '@ministryofjustice/frontend/moj/all';

@import './components/external-header-bar';
@import './components/header-bar';
@import './components/footer';
@import 'assets/scss/local';
