@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";

$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import './overrides/local';

@import './components/external-header-bar';
@import './components/header-bar';
@import './components/footer';
