@use 'govuk-frontend/dist/govuk/base' as govuk;

.connect-dps-common-footer {
  border-top: 1px solid govuk.govuk-functional-colour(border);
  padding: 45px 0 30px 0;
  color: govuk.govuk-functional-colour(text);
  background: govuk.govuk-functional-colour(template-background);
  @include govuk.govuk-font($size: 16);

  a {
    text-underline-offset: 0.23em;
  }

  h2 {
    font-size: 24px;
    margin-top: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid govuk.govuk-colour('black', $variant: 'tint-25');
  }

  &__help {
    @include govuk.govuk-media-query($until: tablet) {
      h2 {
        padding-top: 25px;
      }
    }
  }

  &__support-links {
    border-top: 1px solid govuk.govuk-colour('black', $variant: 'tint-25');
    padding-top: 30px;
  }

  &__inline-list {
    margin-top: 0;
    margin-bottom: govuk.govuk-spacing(3);
    padding: 0;
  }

  &__inline-list-item {
    display: inline-block;
    margin-right: govuk.govuk-spacing(3);
    margin-bottom: govuk.govuk-spacing(1);
  }

  &__link {
    @include govuk.govuk-link-common;
    @include govuk.govuk-link-style-text;
  }

  &__services-menu {
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px 15px;
      justify-items: start;

      @include govuk.govuk-media-query($until: desktop) {
        grid-template-columns: 1fr 1fr;
      }

      li a {
        color: govuk.govuk-functional-colour(text);
        font-size: 16px;
      }
    }
  }
}
