.govuk-footer {
  padding: 45px 0 30px 0;

  a {
    text-underline-offset: .23em;
  }

  &__info {
    display: flex;
  }

  &__help {
    flex-basis: 50%;

    h2 {
      font-size: 24px;
      margin-top: 0;
      padding-bottom: 25px;
      border-bottom: 1px solid govuk-colour('dark-grey');
    }
  }

  &__support-links {
    border-top: 1px solid govuk-colour('dark-grey');
    padding-top: 25px;
  }
}