{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " – Previewing " + component %}

{% block bodyEnd %}
  {{ super() }}
  {% if component === 'header' %}
    <script src={{ '/assets/js/header.js' | assetMap }}></script>
  {% endif %}
{% endblock %}

{% block bodyStart %}
  {% include 'components/' + component + '.njk' %}
{% endblock %}

{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}
{% block main %}{% endblock %}
{% block footer %}{% endblock %}
