{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Front end components</h1>
  <p>This service makes front end components available to be incorporated into your project using the server side includes.</p>
  <p>Available components: </p>
  <ul class="govuk-list govuk-list--bullet">
      {% for component in components %}
         <li>
            <a class="govuk-link" href="/preview/{{ component }}">{{ component}}</a>
        </li>
      {% endfor %}
  </ul>
{% endblock %}
