{% extends "../partials/layout.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle =  "Component not found" %}

{% block content %}
    <div class="govuk-grid-row" data-qa="page-not-found">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        </div>
    </div>
{% endblock %}